<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12 image-left">
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="container form">
        <form>
          <div class="form-group row">
            <label for="cardholderName">CARDHOLDER NAME</label>
            <input type="text" class="form-control" id="cardholderName" placeholder="e.g. John Doe">
          </div>
          <div class="form-group row">
            <label for="cardholderNo">CARDHOLDER NUMBER</label>
            <input type="text" class="form-control" id="cardholderNo" placeholder="e.g. 1234 5678 9123 0000">
          </div>
          <div class="form-group row">
            <div class="form-group col">
              <label for="cardholderNo">EXP. DATE (MM/YY)</label>
              <div class="row">
                <input type="text" class="form-control col" id="cardholderNo" placeholder="MM">
                <input type="text" class="form-control col" id="cardholderNo" placeholder="YY">
              </div>
            </div>
            <div class="form-group col">
              <label for="cardholderNo">CVC</label>
              <input type="text" class="form-control" id="cardholderNo" placeholder="e.g. 123">
            </div>
          </div>
          <div class="form-group row">
            <button type="button" class="btn btn-dark">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>